<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>

    <link rel="stylesheet" href="../css-cadastro/parte_superior-cadastro.css">
    <link rel="stylesheet" href="../css-cadastro/menu-cadastro.css">
    <link rel="stylesheet" href="../css-cadastro/formulario.css">
    <link rel="stylesheet" href="../css-cadastro/rodape_cadastro.css">

    <!--links dos responsivos cell-->
    <link rel="stylesheet" href="../Logins/cadastro_mobile/cadastro_mob.css" media="screen and (max-width:750px)">

    <script src="./jsValidator/cadastro.js" defer></script>

            <!-- Notify -->
        <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.css" />
        <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>

    

    <link rel="shortcut icon" href="IMG/fivecon/logo preta grande.ico" type="image/x-icon">

</head>
<body>
   <!-- parte superior do desconto na primeira compra -->
   <section id="section_parte_superior">
    <article>
        <article id="parte_superior">
            <p>10% OFF* na primeira compra. Utilize o cupom QueroMaisDez!  </p> 
        </article>
        <!--parte das setas-->
        <figure class="setas_parte_superior">
            <img class="seta_esquerda_parte_superior" src="IMG/parte superior do desconto na primeira compra REFEITO/seta_esquerda.svg" alt="">
            <img class="seta_direita_parte_superior" src="IMG/parte superior do desconto na primeira compra REFEITO/seta_direita.svg" alt="">
        </figure>
    </article>
</section>


    <!--menu principal-->
    <section id="menu_principal_como_todo">
        <!--area do menu que contem os links-->
            <article id="menu_principal">
                <section id="section_menu_principal">
                    <a href="/bazar">BAZAR</a>
                    <a href="">VENDER</a>
                    <a href="">FEMININO</a>
                    <a href="">MASCULINO</a>
                    <a href="">INFANTIL</a>
                    <a href="">ACESSÓRIOS</a>
                </section>
            </article>
    
            <!--logo zip-->
            <article>
                <a href="/">
                    <figure id="logo_zip_menu">
                        <img id="logo_zip_menu_imagem" src="../IMG/area_do_menu/logo_zip_menu_2024_refeito.png" alt="">
                    </figure>
                </a>
            </article>
    
            
            
    
    
            <!--imagem da barra de pesquisa e etc-->
            <article id="barra_de_pesquisa_e_etc">
                <figure id="imagem_da_barra_de_pesquisa_e_etc">
                    <img id="imagem_da_barra_de_pesquisa" src="IMG/area_do_menu/icone_de_pesquisa.svg" alt="">

                    <img id="imagem_do_icone_de_favorito" src="IMG/area_do_menu/icone_de_favorito.svg" alt="">

                    <a href="/login_do_usuario"><img id="imagem_do_icone_de_pessoa" src="IMG/area_do_menu/icone_de_pessoa.svg" alt=""></a>
                    
                    <a href="/cart"><img id="imagem_do_icone_da_sacola" src="IMG/area_do_menu/icone_sacola.svg" alt=""></a>
                </figure>
            </article>
    
    
        </section>
    
        </section>
    <!--forms de cadastro-->

    <section id="caixa">
        <article>
            <h2 id="cadastro">CRIE UMA CONTA</h2>
            <p id="tornar">Conecte-se a zip.com para obter os benefícios de um perfil</p>
        </article>
        <article class="abaixar">

            <% 
            let msgErro = ''
                
            
            const campoErro = {   
                nome:'',
                email:'',
                senha:'',
                cpf:'',
                cep:'',
                confirmsenha:'',
                dia:'',
                mes:'',
                ano:''
            };
            if (erros) {
                erros.errors.forEach(err => {
                    campoErro[err['path']] = 'invalido';
                    msgErro +=  err.msg + '<br>'
                    %>
                    
                    
                <%});
                %>
                
                <script>
                    (() => {
                        var campoInvalido = '<%= msgErro%>'
                        function mostrarNotificacao() {
                            return new Notify ({
                                status: 'error',
                                title: 'Verifique os Campos', 
                                text: '' + campoInvalido.replace(/&lt;/g,"<").replace(/&gt;/g,">"),
                                speed: 300,
                                effect: 'fade',
                                showIcon: true,
                                showCloseButton: true,
                                autoclose: true,
                                autotimeout: 5000,
                                gap: 20,
                                distance: 20,
                                position: 'center'
                            });
                        }

                        mostrarNotificacao();
                    })();
                </script>
            <% } %>
            

            <form id="formulario" action="/sign/register" method="post">
                <section id="forms">
                        <article>
                                    <input type="text" name="nome" id="nome" maxlength="40" class="<%=campoErro.nome %>" value="<%= dadosform.nome%>" placeholder="    Nome Completo*" class="inputs required" oninput="nameValidate()">
                                <br>
                                
                                <br>
                            <input type="text" name="cpf" class="<%=campoErro.cpf %>" value="<%= dadosform.cpf%>" id="cpf" maxlength="40" placeholder="    CPF*" class="inputs required" oninput="cpfValidate()">
                            <br>
                            
                            <br>
                                <!--<input type="date" name="nascimento" id="nascimento"  maxlength="40" class="inputs required" oninput="dateValidate()">
                                <br>-->

                                    <section id="data">
                                        <input type="text" name="dia" class="<%=campoErro.dia %>" value="<%= dadosform.dia%>" id="dia" maxlength="2"  placeholder="    Dia*" class="inputs required" oninput="diaValidate()">
                                        <span class="span-required"></span>
                                        <input type="text" name="mes" class="<%=campoErro.mes %>" value="<%= dadosform.mes%>" id="mes" maxlength="2" placeholder="    Mês*" class="inputs required" oninput="mesValidate()">
                                        <span class="span-required"></span>
                                        <input type="text" name="ano" class="<%=campoErro.ano %>" value="<%= dadosform.ano%>" id="ano" maxlength="4" placeholder="    Ano*" class="inputs required" oninput="anoValidate()">
                                        <span class="span-required"></span>
                                        <br>

                                    </section>

                            <input type="email" name="email" class="<%=campoErro.email %>" value="<%= dadosform.email%>" id="email" placeholder="    Email*" class="inputs required" oninput="emailValidate()">
                            <br>
                            
                            <br>
                                <input type="password" name="senha" id="senha" class="<%=campoErro.senha %>" value="<%= dadosform.senha%>" placeholder="    Senha*" class="inputs required" oninput="mainPasswordValidate()">
                                <br>
                               
                                <br>
                            <input type="password" name="confirmsenha" id="senha" class="<%=campoErro.confirmsenha %>" value="<%= dadosform.confirmsenha%>"  placeholder="    Confirme a senha" class="inputs required" oninput="comparePassword()">
                            <br>
                            
                            <br>
                                <input type="text" name="cep" id="cep" class="<%=campoErro.cep %>"  value="<%= dadosform.cep%>" size="15" placeholder="  CEP*" class="inputs required" oninput="cepValidate()">
                                <br>
                                
                                <br>


                            <input type="submit" value="ENVIAR" id="botao" >
                        </article>
                </section>
        </article>
    <img src="../IMG/cadastro/modelo.png" id="foto">
    </section>


     <!--rodapé-->
     <section class="rodape">
        <!--primeira seção-->
        <section>
            <article>
                <h1 class="rodape_h1 institucional">
                    institucional
                </h1>
            </article>
            <article>
                <ul class="lista_do_rodape_parte_1">
                    <li class="rodape_paragrafo institucional">sobre a ZIP</li>
                    <li class="rodape_paragrafo institucional">fornecedores</li>
                    <li class="rodape_paragrafo institucional">termos e condições</li>
                    <li class="rodape_paragrafo institucional">política de privacidade</li>
                    <li class="rodape_paragrafo institucional">configurações de privacidade</li>
                    <li class="rodape_paragrafo institucional">trabalhe conosco</li>
                    <li class="rodape_paragrafo institucional">sustentabilidade</li>
                    <li class="rodape_paragrafo institucional">mapa do site</li>
                    <li class="rodape_paragrafo institucional">investidores</li>
                    <li class="rodape_paragrafo institucional">sala de imprensa</li>
                    <li class="rodape_paragrafo institucional">blog ZIP</li>
                </ul>
            </article>
        </section>
        <!--segunda seção-->
        <section>
            <!--parte ZIP&VC-->
            <article>
                <article>
                    <h1 class="rodape_h1 segunda_secao_parte_1_h1">
                        ZIP&VC
                    </h1>
                </article>
                <article>
                    <ul class="lista_do_rodape segunda_secao_parte_1_ul">
                        <li class="rodape_paragrafo">participe do programa</li>
                    </ul>
                </article>
            </article>

            <!--parte cartão ZIP-->
            <article>
                <article>
                    <h1 class="rodape_h1 segunda_secao_parte_2_h1">
                        cartão ZIP
                    </h1>
                </article>
                <article>
                    <ul class="lista_do_rodape segunda_secao_parte_2_ul">
                        <li class="rodape_paragrafo">sobre o cartão ZIP</li>
                    </ul>
                </article>
            </article>

            <!--parte ZIP Pay-->
            <article>
                <article>
                    <h1 class="rodape_h1 segunda_secao_parte_3_h1">
                        ZIP Pay
                    </h1>
                </article>
                <article>
                    <ul class="lista_do_rodape segunda_secao_parte_3_ul">
                        <li class="rodape_paragrafo">solicite seu cartão</li>
                    </ul>
                    <ul class="lista_do_rodape segunda_secao_parte_3_ul">
                        <li class="rodape_paragrafo">tire sua dúvida por e-mail</li>
                    </ul>
                </article>
            </article>
            
            <!--parte cartão presente-->
            <article>
                <article>
                    <h1 class="rodape_h1 segunda_secao_parte_4_h1">
                        cartão presente
                    </h1>
                </article>
                <article>
                    <ul class="lista_do_rodape segunda_secao_parte_4_ul">
                        <li class="rodape_paragrafo">sobre o cartão presente ZIP</li>
                    </ul>
                </article>
            </article>
            
        </section>
        
        <!--parte 3-->
        <section class="terceira_secao">
            
            <article>
                <h1 class="rodape_h1 ">
                    serviços
                </h1>
            </article>

            <article>
                <ul class="lista_do_rodape lista_terceira_secao">
                    <li class="rodape_paragrafo">tipos de entrega</li>
                    <li class="rodape_paragrafo">clique & retire</li>
                    <li class="rodape_paragrafo">trocas & devoluções</li>
                    <li class="rodape_paragrafo">formas de pagamento</li>
                    <li class="rodape_paragrafo">todas as vantagens</li>
                    <li class="rodape_paragrafo">minha ZIP</li>
                </ul>
            </article>
            

            <article class="terceita_secao_bazar">
                <article>
                    <h1 class="rodape_h1 ">
                        bazar
                    </h1>
                </article>

                <article>
                    <ul class="lista_do_rodape">
                        <li class="rodape_paragrafo">veja coleção</li>
                    </ul>
                </article>

            </article>

        </section>

        <!--parte 4-->
        <section class="quarta_secao">
            <article>
                <h1 class="rodape_h1 ">
                    marketplace ZIP
                </h1>
            </article>

            <article class="lista_quarta_secao">
                <ul class="lista_do_rodape ">
                    <li class="rodape_paragrafo">venda na ZIP</li>
                    <li class="rodape_paragrafo">marketplace</li>
                </ul>
            </article>

        </section>

        <!--icones do instagram e etc-->
        <figure class="icones_do_instagram_e_etc_do_rodape">
            <img src="IMG/rodape/icone_do_instagram_e_etc_2024.png" alt="">
        </figure>

        <!--©Copyright2023  -->
        <article class="copyright">
                <h1 class="h1_do_copyright">
                    © Copyright - 2024 -
                </h1>
        </article>
    </section>

</body>
</html>