<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste</title>
    <link rel="stylesheet" href="/teste.css">
    <link rel="canonical" href="https://fontmeme.com/fonts/radiant-font/">
</head>
<body>

<% if (bazaarList) { %>
    <% Object.keys(bazaarList).forEach(function (bazaarId) { %>
    <section id="imageSection">
            <img id="imagePreview" src="IMG/bazar/florenza/imagem_principal_florenza.png" >
        <section id="formOverlay">
            <p id="Name"><%= bazaarList[bazaarId].nome %></p>
            <p id="Year"><%= bazaarList[bazaarId].ano %></p>
            <p id="Description"><%= bazaarList[bazaarId].descricao %></p>
        </section>
    </section>

    <section id="additionalInputs">
        <p><%= bazaarList[bazaarId].titulo %></p>
    </section>

    <section id="textAreaSection">
        <p id="bio"><%= bazaarList[bazaarId].biografia %></p>
    </section>

            <section id="cen">
                <% bazaarList[bazaarId].produtos.forEach(function (produto) { %>
                    <a>
                        <section id="ash">
                            <img id="addyy" src="<%= produto.img1 %>" alt="">
                        </section>
                        <p id="cust"><%= produto.tituloprod %></p>
                        <p id="cust">R$ <%= produto.preçoprod %></p>
                    </a>
                <% }) %>
            </section>
            
            
        </article>
    </section>
    <% }) %>
<% } %>
</body>
</html>