

<section class="tabelas">
    <section class="table-wrapper">
        <table class="table-solicitacoes">
            <thead class="solicitacoes-colunas">
                <tr>
                    <th>ID do Cliente</th>
                    <th>Redes Sociais</th>
                    <th>Aprovação</th>
                    <th>Negação</th>
                </tr>
            </thead>

            <tbody>

                <% if(listaUsuarios) {
                    listaUsuarios.forEach(function (cliente){ %>
                        <tr>
                            <td><%= cliente.id_Cliente %> <%= cliente.nome %></td>
                            <td><%= cliente.Url_site %></td>
                            <td><form action="/aprovarFamoso?idUsuario=<%= cliente.id_Cliente %>" method="post"><button id="aprova" type="submit">Aprovar</button></form></td>
                            <td><form action="/negarFamoso?idUsuario=<%= cliente.id_Cliente %>" method="post"><button id="nega" type="submit">Negar</button></form></td>
                        </tr>
                    <% })} %>
                
                
            </tbody>
        </table>
    </section> 
</section>